
    
.widgets-icon {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 25px;
    margin-right: 25px;
    
    @media #{$xl-layout} {
        margin-top: 30px;
    }
    @media #{$lg-layout} {
        margin-top: 30px;
    }
    @media #{$md-layout} {
        margin-top: 15px;
    }
    @media #{$xs-layout} {
        margin-top: 15px;
    }

    .header-right-wrap {
        margin-top: 0px;
            
    }

    .profile {
        width: auto;
        float: right;
    
        img {
            vertical-align: middle;
            border-style: none;
        }

        .media-body {
            flex: 1 1;
        }

        .rounded-circle {
            border-radius: 50% !important;
        }
        
        .avatar-img {
            font-size: 1rem;
            display: inline-flex;
            width: 42px;
            height: 42px;
            color: #fff;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            position: relative;
            top: -2px;
            left: 2px;
            margin-left: 20px;
            margin-right: 10px;
            z-index: 1;
        }

        .avatar-img::after {
            font-family: "FontAwesome";
            content: "\f078";
            font-size: 14px;
            background-color: #e5e5e5;
            color: #333;
            padding: 7px 7px 15px 25px;
            position: relative;
            left: -22px;
            z-index: -1;
            width: 100px;
            height: 38px;
            display: block;
            border-radius: 10px 25px 25px 10px;
            border: thin solid #ccc;
        }

        .avatar-img:hover::after {            
            background-color: #fff;
            border: thin solid #ccc;
        }
        
        .avatar-img img{            
            border: 1px solid #00b3de;
            background-color: #00b3de;
        }
        
        .avatar-img img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;            
        }
        
        .avatar-img-sm {
            font-size: .875rem;
            width: 36px;
            height: 36px;
        }

        .profile-user {
            margin: 10%;
            color: #4673d2;
        }

        .profile-email {
            margin: 10%;
            color: #000;
        }

        #tooltip_user{
            display: none;
        }

        .text-black {
            color: #000 !important;
        }

        .text-sm {
            font-size: .875rem !important;
        }

        .media {
            display: flex;
            align-items: flex-start;
        }
    
        .profile-user {
            margin: 10%;
            color: #4673d2;
        }
        
        .profile-email {
            margin: 10%;
            color: #000;
        }

        .account-dropdown { 
            top: 100% !important;
            width: 140px;
            box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.5);
        }
    }
}

.account-setting-active .arrow{
    position: relative;
    top: -10px;
    color: #c91b1b;
    font-size: 15px;
    margin-left: 3px;
}

.nameUserShow{
    position: absolute;
    top: 100%;
    right: 4%;
    text-align: right;
    background-color: rgba(220, 220, 220, 0.9);
    padding: 10px;
    border-radius: 4px;
    color: #004859;
    line-height: 1.3;
}

.nameUserShow::after{
    width: 0;
     height: 0;
     border-right: 100px solid transparent;
     border-top: 100px solid transparent;
     border-left: 100px solid transparent;
     border-bottom: 100px solid #f0ad4e;
     position: absolute;
    top: 100%;
    right: -3%;
}

.nameUserShow span{
    display: block;

}